html {
    scroll-behavior: smooth;
}

body {
    background: #ECE3DA;
}

/************ NAVIGATION BAR **********/

.title_banner {
    text-align: center;
    background-color: #92806C;
    padding-top: 2rem;
    text-shadow: #6F4D20 1.5px 1.5px 1px, 1px 2px 2px rgba(206, 206, 206, 0);

}

.fa-home {
    color: white;
    text-align: left;

}

.header_title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #F7F0F5;
    display: inline-block;
    margin-left: 1.3rem;
    font-size: 4.5vw;
}

.header_subtitle {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 2.8vw;
    margin-bottom: -15px;
    margin-top: -10px;
}

.navbar-collapse {
    padding: 0.5rem;
}

#navbarNav {
    text-align: center;
    border: 1px solid transparent;
}

.navbar_top {
    background-color: #92806C;
}

@media screen and (min-width: 1199px) {

    .section_why,
    .section_how,
    .section_models {
        margin-top: 3rem;
    }
}


@media screen and (max-width: 574px) {
    .fa-home {
        margin-top: -3rem;
        font-size: 2.2em;
    }

    .header_title {
        font-size: 8vw;
    }

    .header_subtitle {
        font-size: 5vw;
        margin-bottom: 10px;
    }

    #hcontact {
        margin-bottom: -0.5em;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .fa-home {
        font-size: 3em;
    }

    .header_subtitle {
        font-size: 3vw;
    }
}

@media screen and (min-width: 768px) {
    .fa-home {
        font-size: 3.5em;
    }

    .header_title {
        font-size: 3.5vw;
    }

}

@media screen and (min-width: 992px) {
    .header_subtitle {
        font-size: 35px;
    }

}

/*************************************************************** */
.section_header {
    background-color: #92806C;
    padding-top: 2rem;
}


.title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 7vw;
    color: #6F4D20;
}

#title {
    font-size: 5vw;
}

p {
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 5vw;
    }

    #title {
        font-size: 3vw;
    }

    #our_story {
        font-size: 5vw;
    }
}

@media screen and (min-width: 1199px) {
    .header_title {
        font-size: 45px;
    }

    #title {
        font-size: 3.5rem;
    }


}

/************ MODELS **********/
.models_subtitle {
    font-size: 20px;
}

.card_title1 {
    text-transform: capitalize;
    color: #6F4D20;
    margin-bottom: 1rem;

}


/***** ABOUT SECTION PARALLAX EFFECT *********/
.parallax_effect_1 {
    background-image: url(/Photos/despre-casa-traditional-ro.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.parallax_effect_2 {
    background-image: url(/Photos/principal1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

#our_story {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 7vw;
    word-spacing: 0.05em;
    color: #6F4D20;
}

.author {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #201609;
}

.fa-quote-left {
    margin-right: 1rem;
}

.fa-quote-right {
    margin-left: 1rem;
}

.quote {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #201609;
}

.about_text {
    color: #201609;
}

/************ CONTACT SECTION **********/
.message {
    font-family: 'Roboto', sans-serif;
}

#contact_us {
    font-size: 6vw;
    word-spacing: 0.05em;

}

#question {
    font-size: 3.5vw;
    margin-bottom: auto;
    color: #ae7832;
}

form {
    padding: 2em;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 5px;
}

form:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form_container {
    padding: 2px 16px;
}

.btn {
    background-color: #ae7832;

}

.btn,
:focus,
:active,
:visited {
    outline: none !important;

    border: none !important;
}

.btn:hover {
    background-color: #8E6329;
}

/********** FOOTER  ************/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: #2F2923;
}

.copyright {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}